<div class="app-container">
    @if (isLoggedIn) {
        <mat-toolbar color="primary">
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <span>{{ title }}</span>
            <span class="spacer"></span>
            <span class="user-info" *ngIf="currentUser">
                {{ currentUser.firstName }} {{ currentUser.lastName }}
                <span class="role-badge">{{ currentUser.role | titlecase }}</span>
            </span>
            <h1 class="user-info" *ngIf="!currentUser">Guest</h1>

            <button mat-icon-button [matMenuTriggerFor]="languageMenu">
                <mat-icon>language</mat-icon>
            </button>

            <button mat-icon-button [matMenuTriggerFor]="userMenu">
                <mat-icon>account_circle</mat-icon>
            </button>
            <mat-menu #languageMenu="matMenu">
                <button mat-menu-item (click)="switchToEnglish()">
                    <mat-icon>language</mat-icon>
                    <span>English</span>
                </button>
                <button mat-menu-item (click)="switchToBulgarian()">
                    <mat-icon>language</mat-icon>
                    <span>Bulgarian</span>
                </button>
            </mat-menu>
            <mat-menu #userMenu="matMenu">
                <button mat-menu-item (click)="logout()">
                    <mat-icon>logout</mat-icon>
                    <span>{{ 'ONBOARDING.LOGOUT' | translate }}</span>
                </button>
            </mat-menu>
        </mat-toolbar>
            <mat-sidenav-container class="sidenav-container">
                <h1>Меню</h1>
                <mat-sidenav #sidenav mode="side" opened>
                    <mat-nav-list>
                        <a mat-list-item routerLink="/dashboard" routerLinkActive="active">
                            <mat-icon matListItemIcon>dashboard</mat-icon>
                            <span matListItemTitle>{{ 'ONBOARDING.DASHBOARD' | translate }}</span>
                        </a>
                        <a mat-list-item *ngFor="let item of dashboardMenuItems" [routerLink]="item.route"
                            routerLinkActive="active">
                            <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
                            <span matListItemTitle>{{ item.label }}</span>
                        </a>
                    </mat-nav-list>
                </mat-sidenav>
                <mat-sidenav-content>
                    <router-outlet></router-outlet>
                </mat-sidenav-content>
            </mat-sidenav-container>
    } @else {
        <div class="login-view">
            <router-outlet></router-outlet>
        </div>
    }
</div>
