<div class="employee-tasks-container">
    <mat-card>
        <mat-card-header>
            <mat-card-subtitle>{{ 'ONBOARDING.MY_TASKS_DESCRIPTION' | translate }}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
                <div class="search-bar">
                        <task-filter
                            [searchTerm]="searchTerm"
                            [selectedDepartment]="selectedDepartment"
                            (searchTermChange)="onSearchChange($event)"
                            (selectedDepartmentChange)="onDepartmentChange($event)"
                        ></task-filter>
                </div>

            <mat-card>

            </mat-card>
            <div class="tasks-grid">
                <mat-card *ngFor="let task of getSortedTasks()" class="task-card"
                    [class.in-progress]="isTaskInProgress(task)"
                    [class.completed]="getTaskStatus(task).startsWith('Completed')"
                    [class.expiring-soon-card]="isTaskExpiring(task)">

                    <mat-card-header>
                        <div class="task-header">
                            <div class="task-title">
                                <mat-card-title>{{ task.name }}</mat-card-title>
                                <mat-card-subtitle>{{ task.department }}</mat-card-subtitle>
                            </div>
                            <div class="task-status">
                                <mat-chip [color]="getTaskStatusColor(task)" selected>
                                    {{ getTaskStatus(task) }}
                                </mat-chip>
                            </div>
                            <div *ngIf="getTaskProgress(task) && !getTaskProgress(task)?.isCompleted"
                                class="task-status">
                                <mat-chip [color]="getTaskStatusColor(task)" selected>
                                    {{ getTaskStartedDate(task) }}
                                </mat-chip>
                            </div>
                            <div *ngIf="!isFinishedOnTime(task)" 
                                    class="task-status"
                                    >
                                <mat-chip
                                    [color]="getTaskStatusColor(task)" selected 
                                    [class.expiring-soon]="isTaskExpiring(task)">
                                    {{ taskDaysLeft(task) }} - {{ 'ONBOARDING.TO' | translate }} {{ getTaskDueDate(task) }} 
                                </mat-chip>
                            </div>
                        </div>
                    </mat-card-header>

                    <mat-card-content>
                        <div class="task-description" *ngIf="task.description">
                            {{ task.description }}
                        </div>

                        <div class="task-progress">
                            <div class="progress-info">
                                <span class="progress-text">
                                    {{ (getTaskProgress(task)?.actionsCompleted || 0) }} {{ 'ONBOARDING.OF' | translate }} {{ task.actions?.length || 0 }} {{ 'ONBOARDING.ACTIONS_COMPLETED' | translate }}
                                </span>
                                <span class="progress-percentage">
                                    {{ getTaskCompletionPercentage(task) | number:'1.0-0' }}%
                                </span>
                            </div>
                            <mat-progress-bar mode="determinate" [value]="getTaskCompletionPercentage(task)"
                                [color]="getTaskStatusColor(task) === 'primary' ? 'primary' : 'warn'">
                            </mat-progress-bar>
                        </div>

                        <div class="task-meta">
                            <div class="task-actions-count">
                                <mat-icon>assignment</mat-icon>
                                <span>{{ task.actions?.length }} {{ 'ONBOARDING.ACTIONS' | translate }}</span>
                            </div>
                        </div>
                    </mat-card-content>

                    <mat-card-actions>
                        <button mat-raised-button color="primary" (click)="openTaskDetail(task)"
                            [disabled]="getTaskStatus(task).startsWith('Completed')">
                            <mat-icon>visibility</mat-icon>
                            {{ getTaskStatus(task) === ('ONBOARDING.NOT_STARTED') ? ('ONBOARDING.START_TASK' | translate ) : ('ONBOARDING.CONTINUE_TASK' | translate) }}
                        </button>
                        @if (getTaskStatus(task).startsWith('Completed')) {
                        <button mat-raised-button color="primary" (click)="restartTask(task)">
                            <mat-icon>visibility</mat-icon>
                            {{ 'ONBOARDING.RESTART_TASK' | translate }}
                        </button>
                        }

                        <button mat-button *ngIf="task.url" (click)="openTaskUrl(task.url!)" matTooltip="Open Task URL">
                            <mat-icon>open_in_new</mat-icon>
                            Отвори URL
                        </button>
                    </mat-card-actions>
                </mat-card>
            </div>

            <div *ngIf="tasks.length === 0" class="no-tasks">
                <mat-icon>assignment</mat-icon>
                <h3>{{ 'ONBOARDING.NO_TASKS_AVAILABLE' | translate }}</h3>
                <p>{{ 'ONBOARDING.CHECK_LATER' | translate }}</p>
            </div>
        </mat-card-content>
    </mat-card>
</div>